/* styles globale */
:root{
    --color-main: #A29BFE;
    --color-main-deep: #8882D5;
    --color-bg: black;
    --color-font: white;
    --color-input: #4D4D4D;
    --main-opacity: rgba(162, 155, 254, 0.7)
}
*, :before, :after{
    font-family: 'Satoshi-Variable', Arial, sans-serif;
}
body{
    background-color: var(--color-bg);
    color: var(--color-font);
    padding: 0 1rem;
}
a{
    color: inherit;
    text-decoration: inherit;
}
a:visited{
    color: inherit;
}
article,
.bg-img,
.button-link,
.heros{
    border-radius: 1.5rem;
}
/* titres */
h1, h2, h3, h4, p, article{
    text-align: center;
}
h1, h3, h4{
    font-weight: 800;
    font-size: 2rem;
}
h2{
    font-weight: 900;
}
h3{
    margin: 3rem 0 1rem 0;
}
h3 strong{
    color: var(--color-main);
}
h4{
    color: var(--color-main);
}
/* header */
header .menu{
    margin: 3rem 0;
}
header .menu nav{
    display: none;
}
header .sub-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 900px;
    width: 100%;
    position: relative;
}
header .bg-img{
    filter: contrast(70%);
    height: 100%;
    width: 100%;
    background-image: url(../ressources/images/hero-banner.png);
    box-shadow: inset 0px 0px 40px 40px #00000099;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
header .sub-header{
    display: flex;
    align-content: center;
}
.sub-header h2{
    font-size: 2.5rem;
    z-index: 1;
}
.sub-header p{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2rem 1rem;
    z-index: 1;
}
/* section super-services */
section .super-services{
    border: 1px solid var(--color-main);
    padding: 1.8rem 1.6rem;
    margin: 1rem 0;
} 
.super-services__description{
    text-transform: uppercase;
    font-weight: 600;
    margin: .5rem;
}
.button-link{
    background-color: var(--color-main);
    padding: 0.8rem 1.5rem;
    width: fit-content;
    margin: 2rem auto;
    font-weight: 900;
    font-size: 1.35rem;
}
.super-services__disclaimer{
    font-style: italic;
}
/* section heros */
.section-heros .heros{
    background-size: cover;
    height: 270px;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.heros:nth-child(2){
    background-image: url(../ressources/images/catastrophic.png);
}
.heros:nth-child(3){
    background-image: url(../ressources/images/carotte-woman.png);
}
.heros:nth-child(4){
    background-image: url(../ressources/images/ultraquenarde.png);
}
.heros:nth-child(5){
    background-image: url(../ressources/images/poulpy.png);
}
.heros:nth-child(6){
    background-image: url(../ressources/images/oran-wu-tang-clan.png);
}
.heros:nth-child(7){
    background-image: url(../ressources/images/superime.png);
}
.heros__container{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.7rem;
    padding-top: 2rem;
}
.heros h4{
    color: var(--color-font);
}
.heros__details{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-main);
    border-radius: 1.5rem 1.5rem 0 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 0.9rem 1rem;
    width: 100%;
}
.heros:hover .heros__details{
    opacity: 1;
    background-color:var(--main-opacity);
    transform: translateY(0);
}
.section-heros .button-link a{
    text-transform: uppercase;
    font-size: 1rem;
}
