/* styles globale */
:root{
    --color-main: #A29BFE;
    --color-main-deep: #8882D5;
    --color-bg: black;
    --color-font: white;
    --color-input: #4D4D4D;
    --main-opacity: rgba(162, 155, 254, 0.7)
}
*, :before, :after{
    font-family: 'Satoshi-Variable', Arial, sans-serif;
}
body{
    background-color: var(--color-bg);
    color: var(--color-font);
}
main,
header{
    width: 90vw;
    margin: auto;
}
a{
    color: inherit;
    text-decoration: inherit;
}
a:visited{
    color: inherit;
}
article,
.bg-img,
.button-link,
form button,
.heros,
.customers__review{
    border-radius: 20px;
}
/* titres */
h1, h2, h3, h4, p, article{
    text-align: center;
}
h1, h3, h4{
    font-weight: 800;
    font-size: 2rem;
}
h2{
    font-weight: 900;
}
h3{
    margin: 4rem 0 2rem 0;
}
h3 strong{
    color: var(--color-main);
}
h4{
    color: var(--color-main);
}
/* header */
header .menu{
    margin: 3rem 0;
}
header .menu nav{
    display: none;
}
header .menu nav a:hover{
    color: var(--color-main);
}
header .sub-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 900px;
    width: 100%;
    position: relative;
}
header .bg-img{
    filter: contrast(70%);
    height: 100%;
    width: 100%;
    background-image: url(../ressources/images/hero-banner.png);
    box-shadow: inset 0px 0px 40px 40px #00000099;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
}
header .sub-header{
    display: flex;
    align-content: center;
}
.sub-header h2{
    font-size: 2.5rem;
    z-index: 1;
}
.sub-header p{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 2rem 1rem;
    z-index: 1;
}
/* section super-services */
section .super-services{
    border: 1px solid var(--color-main);
    padding: 1.8rem 1.6rem;
    margin: 1rem 0;
} 
.super-services__description{
    text-transform: uppercase;
    font-weight: 600;
    margin: .5rem;
}
.button-link,
form button{
    background-color: var(--color-main);
    padding: 0.8rem 1.5rem;
    width: fit-content;
    margin: 2rem auto;
    font-weight: 900;
    font-size: 1.35rem;
}
.super-services__disclaimer{
    font-style: italic;
}
/* section heros */
.section-heros .heros{
    background-size: cover;
    background-position-x: center;
    height: 270px;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.heros:nth-child(1){
    background-image: url(../ressources/images/catastrophic.png);
}
.heros:nth-child(2){
    background-image: url(../ressources/images/carotte-woman.png);
}
.heros:nth-child(3){
    background-image: url(../ressources/images/ultraquenarde.png);
}
.heros:nth-child(4){
    background-image: url(../ressources/images/poulpy.png);
}
.heros:nth-child(5){
    background-image: url(../ressources/images/oran-wu-tang-clan.png);
}
.heros:nth-child(6){
    background-image: url(../ressources/images/superime.png);
}
.heros__container{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.7rem;
    padding-top: 2rem;
}
.heros h4{
    color: var(--color-font);
}
.heros__details{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-main);
    border-radius: 20px 20px 0 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 0.9rem 1rem;
    width: 100%;
}
.heros:hover .heros__details{
    opacity: 1;
    background-color:var(--main-opacity);
    transform: translateY(0);
}
.section-heros .button-link a,
form button{
    text-transform: uppercase;
    font-size: 1rem;
}
/* section custommers */
section .customers{
    display: flex;
    flex-direction: column;
}
.customers__reviews{
    background-color: var(--color-main-deep);
}
.review__img{
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position-x: center;
    border-radius: 40px 40px 100% 100%;
    border: .6rem solid var(--color-main);
    margin: 1.5rem 0;
    margin-bottom: 2.5rem;
}
.customers__reviews:nth-of-type(1) .review__img{
    background-image: url(../ressources/images/testimony-1.png);
}
.customers__reviews:nth-of-type(2) .review__img{
    background-image: url(../ressources/images/testimony-2.png);
}
.customers__reviews:nth-of-type(3) .review__img{
    background-image: url(../ressources/images/testimony-3.png);
}
.customers__reviews:nth-of-type(4) .review__img{
    background-image: url(../ressources/images/testimony-4.png);
}
.customers__reviews p:nth-of-type(1){
    font-weight: 800;
    font-size: 1.3rem;
}
.customers__reviews p:nth-of-type(2){
    font-style: italic;
    padding: 1.3rem;
}
/* Formulaire de sourscription */
form{
    display: flex;
    flex-direction: column;
}
form input,
form select,
form textarea,
form .select-container{
    border-radius: 20px;
    background-color: var(--color-input);
    border: none;
    color: var(--color-font);
}
form input,
form textarea,
form .select-container{
    padding: 0 1rem;
}
form input:focus,
form textarea:focus{
    border: none;
    outline: 2px solid var(--color-main);
}
form select{
    border: non;
    outline: none;
}
form input,
form .select-container{
    height: 4rem;
}
form label{
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 1rem;
}
form .select-container{
    padding: 0 1rem;
}
form select{
    color: var(--color-font);
    font-weight: 600;
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
}
form textarea{
    height: 17rem;
}
form button{
    color: var(--color-font);
    border: none;
    font-weight: 700;
}

/* footer */
footer{
    background-color: var(--color-main-deep);
    border-radius: 22% 67% 10% 10% / 12% 15% 0% 0% ;
    padding: 2.2rem;
    padding-top: 0.1rem;
}
footer h3{
    margin-top: 2rem;
}
footer ul{
    padding: 0;
    margin-bottom: 3rem;
}
footer li{
    list-style: none;
    text-align: center;
    margin: 1rem 0;
}
footer li:hover{
    font-weight: 700;
}

/* Tablette */
@media (min-width: 720px){
    h1, h3, h4{
        font-weight: 700;
        text-align: center;
    }
    h1{
        font-size: 3rem;
    }
    h3{
        margin: 6rem auto 6rem auto;
        font-size: 2.6rem;
        width: fit-content;
    }
    h4{
        font-size: 2rem;
    }
    h3::before, h3::after{
        content: '-';
        color: var(--color-main-deep);
        font-weight: 200;
        font-size: 4rem;
        padding: 1rem;
    }
    p, a{
        font-size: 1.2rem;
    }
    /* header */
    header .menu{
        margin-top: 1rem;
    }
    header .menu nav{
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .sub-header h2{
        font-weight: 700;
        font-size: 4rem;
    }
    .sub-header p{
        font-weight: 600;
        font-size: 1.5rem;
    }
    /* main */
    .grid{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .grid article{
        width: calc(50% - 1rem);
        margin: 0;
    }
    /* section super-services */
    .section-super-services .grid article:nth-child(5){
        width: 100%;
    }
    /* section heros */
    .section-heros .heros{
        margin: 0;
        height: 320px;
    }
    .section-heros .heros .heros__container{
        padding-top: 2rem;
        padding-bottom: 1.3rem;
    }
    /* section custommers */
    .customers .customers__reviews{
        border-radius: 0 0 2rem 2rem;
        background-color: var(--color-bg);
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .customers .customers__reviews .review__img-container,
    .customers .customers__reviews .review__description{
        background-color: var(--color-main-deep);
        flex: 1;
    }
    .customers .customers__reviews .review__img-container{
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
    }
    .customers .customers__reviews .review__img {
        border-radius: 100%;
        margin: 0;
    }
    .customers .customers__reviews .review__description{
        border-radius: 0 0 2rem 2rem;
        padding-top: 2rem;
    }
    .customers .customers__reviews p{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    /* form */
    form{
        width: 680px;
        margin: 0 auto;
    }
    form label{
        font-size: 1.5rem;
    }
    /* footer */
    footer{
        border-radius: 25% 25% 10% 10% / 10% 10% 0% 0%;
    }
    footer h3{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    footer ul{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
@media (min-width: 960px){
    /* header */
    header .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* main */
    /* section super-services */
    .section-super-services .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .section-super-services .grid article.super-services{
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-super-services .grid article:nth-child(1){
        grid-area: 1 / 1 / 3 / 2;
    }
    .section-super-services .grid article:nth-child(2){
        grid-area: 1 / 2 / 2 / 4;
    }
    .section-super-services .grid article:nth-child(3){
        grid-area: 2 / 2 / 3 / 3;
    }
    .section-super-services .grid article:nth-child(4){
        grid-area: 2 / 3 / 4 / 4;
    }
    .section-super-services .grid article:nth-child(5){
        grid-area: 3 / 1 / 4 / 3;
    }
    
    /* section heros */
    .section-heros .grid article{
        width: calc(33% - 1rem);
    }
    /* section customers */
    section.customers .grid{
        justify-content: space-around;
    }
    section.customers .grid article{
        width: 40%;
    }
}
@media (min-width: 1368px){
    /* section customers */
    section.customers .grid article{
        width: calc(25% - 1.5rem);
        font-size: 0.8rem;
    }
    section.customers .grid article .review__img{
        height: 360px;
    }
}

/* TODO: sticky header */